<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

  <!--<app-counter [initValueFromParent]="ComponentCounterValue"-->
    <!--counter="100" initValueFromParent="100" (counterChange)="showOutputData($event)"></app-counter>-->

  <!-- or -->
  <app-counter [counter]="ComponentCounterValue" initValueFromParent="{{ComponentCounterValue}}"
               (counterChange)="showOutputData($event)"></app-counter>

  <br />
  <p>Data output from Component app-counter:</p>
  <ul>
    <li>Counter value change to: {{outputData}}</li>
  </ul>

  <br/>
  <h6>ComponentCounterValue: {{ComponentCounterValue}}</h6>

</div>
